# Compiled Object files
*.slo
*.lo
*.o
*.pdb
*.exe

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lob

# VC++ files
debug/*
release/*
ipch/*
*.user
*.sdf
